{% extends 'base.html' %}
{% load staticfiles %}
<title>
{% block title %} Contact us {% endblock %}
     {% block breadcrumb %}
  <li class="breadcrumb-item active">Contact page</li>
{% endblock %}
    </title>
{% block content %}
<body>

<div class="inside" >
                <img src="\static\img\school3.jpg"align="right" alt="school3"  width="900"   height="600">
            </div>
<div>
<div class="col-sm-6" div class="container">

    <p id="rcorners1" >   We provides the best services to our students</p>
    </div>
    </div>
<div class="col-sm-6" div class="container" align="centre" >
    <p id="rcorners2">  Please contact us on this number : 0701280731 or 0776293796</p>
    </div>
<div class="col-sm-6" div class="container" >
    <p  id="rcorners3"> Email us now : ArkInternationalschool@gmail.com
    </p>
    </div>


</body>

</div>
     </div>
</body>
{% endblock %}
