{%extends 'base.html'%}
{% load staticfiles %}
{% block content %}
<title>
{% block title %}   Upload assignment{% endblock %}
  {% block breadcrumb %}
  <li class="breadcrumb-item active">   Upload assignment page!!! </li>
{% endblock %}
</title>
<body >

<div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">Upload assignments</strong>
                        </div>
                        <div class="card-body">
                  <table id="bootstrap-data-table" class="table table-striped table-bordered">
      <tr>
        <th>Assignment ID</th>
        <th>Subject</th>
        <th>Assignment name</th>
        <th>Year</th>
          <th> Teacher name</th>
            <th> Upload at</th>
      </tr>
    </thead>
    <tbody>
      {% for assign in upload_assignment %}
        <tr>
          <td>{{ assign.assignment_id }}</td>
          <td>{{ assign.subject }}</td>
            <td>{{ assign.assignment_name  }}</td>
             <td>{{assign.year  }}</td>
            <td>{{assign.teacher_name  }}</td>
             <td>{{assign.upload_at  }}</td>


        </tr>

       {% endfor %}

  </table>



       </div>
                    </div>
                </div>
</div>
                </div>
    </div>

</body>
    {% endblock%}


